body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
}

.add-img{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 5px;
    bottom: 10px;
    cursor: pointer;
}